In [1]:
import pandas as pd 
from matplotlib import pyplot as plt 
import numpy as np

In [28]:
coaster_ranking_wood = pd.read_csv('golden_ticket_award_winner_wood.csv')
coaster_ranking_wood.head(20)

,Rank,Name,Park,Location,Supplier,Year Built,Points,Year of Rank
0,1,Boulder Dash,Lake Compounce,"Bristol, Conn.",CCI,2000,1333,2013
1,2,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1302,2013
2,3,Phoenix,Knoebels Amusement Resort,"Elysburg, Pa.",Dinn/PTC-Schmeck,1985,1088,2013
3,4,The Voyage,Holiday World,"Santa Claus, Ind.",Gravity Group,2006,1086,2013
4,5,Thunderhead,Dollywood,"Pigeon Forge, Tenn.",GCII,2004,923,2013
5,6,Ravine Flyer II,Waldameer,"Erie, Pa.",Gravity Group,2008,712,2013
6,7,Outlaw Run,Silver Dollar City,"Branson, Mo.",Rocky Mountain,2013,599,2013
7,8,The Beast,Kings Island,"Kings Mills, Ohio",KECO,1979,555,2013
8,9,Lightning Racer,Hersheypark,"Hershey, Pa.",GCII,2000,364,2013
9,10,Shivering Timbers,Michigan’s Adventure,"Muskegon, Mich.",CCI,1998,304,2013
10,1,Boulder Dash,Lake Compounce,"Bristol, Conn.",CCI,2000,1480,2014
11,2,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1291,2014
12,3,The Voyage,Holiday World,"Santa Claus, Ind.",Gravity Group,2006,1129,2014
13,4,Phoenix,Knoebels Amusement Resort,"Elysburg, Pa.",Dinn/PTC-Schmeck,1985,1036,2014
14,5,Thunderhead,Dollywood,"Pigeon Forge, Tenn.",GCII,2004,837,2014
15,6,Ravine Flyer II,Waldameer,"Erie, Pa.",Gravity Group,2008,719,2014
16,7,Gold Striker,California’s Great America,"Santa Clara, Calif.",GCII,2013,619,2014
17,8,The Beast,Kings Island,"Mason, Ohio",KECO,1979,614,2014
18,9,Outlaw Run,Silver Dollar City,"Branson, Mo.",Rocky Mountain,2013,605,2014
19,10,Balder,Liseberg,"Gothenburg, Sweden",Intamin,2003,393,2014

In [35]:
# this function return the entries correspondent to the roller coaster specified by the user

def name_ranking(df, name): # dataframe and name of the roller coaster as arguments
    name_ranking_df = df[df['Name'] == name]
    return name_ranking_df

In [38]:
name_ranking(coaster_ranking_wood, 'El Toro')

,Rank,Name,Park,Location,Supplier,Year Built,Points,Year of Rank
1,2,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1302,2013
11,2,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1291,2014
21,2,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1464,2015
32,3,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1121,2016
55,25,El Toro,Freitzeitpark Plohn,"Legendfeld, Germany",Great Coasters Int.,2009,166,2016
80,1,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2009,1241,2017
120,41,El Toro,Freitzeitpark Plohn,"Legendfeld, Germany",Great Coasters Int.,2006,92,2017
131,2,El Toro,Six Flags Great Adventure,"Jackson, N.J.",Intamin,2006,1197,2018

In [27]:
coaster_ranking_steel = pd.read_csv('golden_ticket_award_winner_steel.csv')
coaster_ranking_steel.head(20)

,Rank,Name,Park,Location,Supplier,Year Built,Points,Year of Rank
0,1,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000,1204,2013
1,2,Bizarro,Six Flags New England,"Agawam, Mass.",Intamin,2000,1011,2013
2,3,Expedition GeForce,Holiday Park,"Hassloch, Germany",Intamin,2001,598,2013
3,4,Nitro,Six Flags Great Adventure,"Jackson, N.J.",B&M,2001,596,2013
4,5,Apollo's Chariot,Busch Gardens Williamsburg,"Williamsburg, Va.",B&M,1999,542,2013
5,6,New Texas Giant,Six Flags Over Texas,"Arlington, Texas",Rocky Mountain,2011,512,2013
6,7,Goliath,Six Flags Over Georgia,"Austell, Ga.",B&M,2006,494,2013
7,8,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,478,2013
8,9,Magnum XL-200,Cedar Point,"Sandusky, Ohio",Arrow,1989,416,2013
9,10,Intimidator-305,Kings Dominion,"Doswell, Va.",Intamin,2010,412,2013
10,1,Millennium Force,Cedar Point,"Sandusky, Ohio",Intamin,2000,1139,2014
11,2,Bizarro,Six Flags New England,"Agawam, Mass.",Intamin,2000,1049,2014
12,3,Expedition GeForce,Holiday Park,"Hassloch, Germany",Intamin,2001,764,2014
13,4,Diamondback,Kings Island,"Mason, Ohio",B&M,2009,579,2014
14,5,Nitro,Six Flags Great Adventure,"Jackson, N.J.",B&M,2001,563,2014
15,6,Leviathan,Canada's Wonderland,"Vaughan, Ont., Canada",B&M,2012,500,2014
16,7,Apollo's Chariot,Busch Gardens Williamsburg,"Williamsburg, Va.",B&M,1999,484,2014
17,8,New Texas Giant,Six Flags Over Texas,"Arlington, Texas",Rocky Mountain,2011,465,2014
18,9,Goliath,Six Flags Over Georgia,"Austell, Ga.",B&M,2006,422,2014
19,10,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,387,2014

In [39]:
name_ranking(coaster_ranking_steel, 'Intimidator')

,Rank,Name,Park,Location,Supplier,Year Built,Points,Year of Rank
7,8,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,478,2013
19,10,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,387,2014
26,7,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,499,2015
37,8,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,350,2016
98,19,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,261,2017
151,22,Intimidator,Carowinds,"Charlotte, N.C.",B&M,2010,233,2018